<div class="container">
<h2>Sewobe Configuration</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="urlfield">Url:</label>
      <input type="text" class="form-control"
         [(ngModel)]="config.sewobeUrl"
        (keyup)="keyEntered()"
       id="texturl" placeholder="Enter Sewobe URL" name="urlfield">
    </div>
    <div class="form-group">
      <label for="usernamefield">Username:</label>
      <input type="text" class="form-control"
         [(ngModel)]="config.sewobeUsername"
        (keyup)="keyEntered()"
       id="textusername" placeholder="Enter Sewobe REST Username" name="usernamefield">
    </div>
    <div class="form-group">
      <label for="passwordfield">Password:</label>
      <input type="text" class="form-control"
         [(ngModel)]="config.sewobePasswort"
        (keyup)="keyEntered()"
       id="textpassword" placeholder="Enter Sewobe REST Password" name="passwordfield">
    </div>
    <div class="form-group">
      <label for="querynrfield">Query Nr:</label>
      <input type="number" class="form-control"
         [(ngModel)]="config.sewobeAbfrageNr"
        (keyup)="keyEntered()"
       id="textquerynr" placeholder="Enter Sewobe Query Number" name="querynrfield">
    </div>
    <div class="form-group">
      <label for="jsonfield">Total JSON:</label>
      <textarea type="number" class="form-control"
         [(ngModel)]="json"
        (focusout)="focusoutJson()"
       id="textjson" placeholder="Enter Sewobe Configuration JSON" name="jsonfield"></textarea>
    </div>


    <button type="submit" class="btn btn-default" (click)="reload()">Reset</button>
    <button type="submit" class="btn btn-default" (click)="store()">Store Changes</button>
  </form>
</div>



