<h1>
  {{title}}
</h1>


<div>
  <h2>
      Input CSV & Delimiter
  </h2>
<div>
CSV Input:
<input type="file" (change)="fileChangeEvent($event)">
</div>
<div>
CSV Input Delimiter:
<input type="text" [ngModel]="csvDelimiter" (change)="inputDelimiterChangeEvent($event)">
</div>
</div>

<h2>All users from input CSV and their current mapping:</h2>
<ul>
<li *ngFor="let user of bierlisteUsers.inputUsers">
  <app-selection-listelement [username]="user.biername"></app-selection-listelement>
</li>
</ul>


<h2>All drinks from input CSV</h2>
<ul>
<li *ngFor="let item of bierlisteUsers.drinks">
  {{item.name}} := {{item.price}}
</li>
</ul>


<div>
<h2>Download Output CSV</h2>
<a id="csvOutputLinkAnchor" href="google.com" hidden download>
  Download the result as a CSV-file
</a>

<div>
CSV Output Delimiter:
<input type="text" [ngModel]="csvOutputDelimiter" (change)="outputDelimiterChangeEvent($event)">
</div>
<div>
Output Decimal Delimiter:
<input type="text" [ngModel]="decimalDelimiter" (change)="decimalDelimiterChangeEvent($event)">
</div>
</div>

<app-configuration></app-configuration>





From Sewobe:
<ol>
<li *ngFor="let u of sewobeUsers">
  {{u.vorname}} - {{u.biername}} - {{u.nachname}} ({{u.mitgliedernummer}})
</li>
</ol>