<div [style.background-color]="backgroundcolor">
  {{username}} 
<select [ngModel]="selectedValue" (ngModelChange)="onSelect($event)" >
  <option *ngFor="let c of candidates" [ngValue]="c">{{c.vorname}} {{c.biername}} {{c.nachname}} ({{c.mitgliedernummer}}) similarity = {{c.similarity.toFixed(2)}}</option>
</select>
</div>